<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>
        Đăng Nhập
    </title>
    <link href="/stylesheets/signin.css" rel="stylesheet">

</head>
<body>
<div class="login-box">
    <h1>Thông tin Đăng nhập</h1>
    <form action="/auth/login" method="POST" >
      <div class="textbox">
          <i class="fas fa-envelope-open-text"></i>
          <input type="email" name="email" id="email"  class="form-control" placeholder="Email" required autofocus>      

      </div>

      <div class="textbox">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" id="password"  class="form-control" placeholder="Mật Khẩu" style="margin-top: 0px;" required autofocus>      

      </div>

      <button class="btn btn-lg btn-primary btn-block" style="margin-top: 30px;" type="submit">Đăng nhập</button>
    </form>

    <div class="btn regis"> <a href="../users/create">Bạn chưa có tài khoản? <br> Đăng ký ngay! </a></div>
</div>
</body>
</html>
