
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
    
}

#logo {
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}
#logo img {
    width: 50px;
}

header .menu {
    float: right;
    margin-top: 5px;  
    font-family: 'Bahnschrift Condensed';
    margin-right: 350px;
}
header ul li {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin: 15px 10px;
    font-weight: 500;
    letter-spacing: 1px;
}
header ul li a {
    text-decoration: none;
    
}
span.hello {
    padding: 5px 25px;
    font-weight: 1000;
    line-height: 20px;
    font-family: 'Bahnschrift Condensed';
    color: #fff;

}


/* h */

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #C216F0;
}

.box1 {
    margin-top: 130px ;
    margin-left:15% ;
    width: 1100px;
    height: 1000 px;
    background: #2980b9;
    text-align: center;
    font-family: 'Bahnschrift Condensed';
    border: 3px solid rgb(248, 248, 248);
    border-radius: 15px;
    margin-bottom: 30px;
    opacity: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.content1{
    padding: 10px;
    color: rgb(236, 236, 236);
    text-align: center;
    font-size: 18px;
}

h1.head {
    font-size: 50px;
    font-weight: 10000;
    color: #f1c40f;
    margin-bottom: 20px;
    
}

h3 {
    color: #f1c40f;
}


a.game{
    text-decoration: none;
    color: wheat;
    font-size: 21px;
}

p {
    padding: 10px;
}