@media (max-width: 1023 px) {
    header {
        display: none;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #c0392b;
    background-size: cover;
}
.mainbox {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 20px;
}
/*  */
.mainbox.animate:after {
    animation: animateArrow 0.7s ease infinite;
}
@keyframes animateArrow {
    50%{
        right: -40px;
    }
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 5s;
}

span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1 {
    clip-path: polygon(0 92%, 100% 50%, 0% 8%);
    background-color: #ffeb3b;
    top: 120px;
    left: 0;
}
.span2 {
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: #ff833b;
    top: 120px;
    right: 0;
}
.span3 {
    clip-path: polygon( 50% 0, 8% 100%, 92% 100%);
    background-color: #3bff9d;
    bottom: 0;
    left: 120px;
}
.span4 {
    clip-path: polygon(50% 100%, 92% 0%, 8% 0);
    background-color: #3b79ff;
    top: 0;
    left: 120px;
}
.box2 {
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #ff5722;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));

}

#logo {
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}
#logo img {
    width: 50px;
}

header .menu {
  margin-top: 0px;  
  font-family: 'Signika';
  text-align: center;
}
header ul li {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin: 20px 30px;
    font-weight: 500;
    letter-spacing: 1px;
}
header ul li a {
    text-decoration: none;
    
}
span.hello {
    padding: 5px 25px;
    font-weight: 1000;
    line-height: 20px;
    font-family: 'Bahnschrift Condensed';
    color: #fff;

}
.content {
    padding: 15px;
    font-weight: 50px;
    line-height: 20px;
    font-family: 'Bahnschrift Condensed';
    color: #fff;
    font-size: 30px;
    margin-right: 100px;
    margin-top: 50px;

}

.text1{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 4px 0;
    margin: 2px 0;
    border-bottom: 1px solid #fff;
  }
.text1 input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 5px;
  }
.input {
    padding: 5px;
}



h3 {
    color: #f1c40f;
}


.box_content {position: absolute;}
.box_firework {
	width: 100%;
    height: 100%;
    margin: 0px;
	overflow-y: hidden;
}
#canvas {
	position: fixed;
    z-index: 98;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.bienmat {
	opacity: 0;
    transition: 0.8s;
    visibility: hidden;
}
.text {
	position: fixed;
	top: 45%;
	z-index: 99;
    color: white;
    width: 1200px;
    height: 100%;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    text-align: center;
}

.box_rainy{
    margin: 0;
    padding: 0;
    /* background-image: url(/images/background.jpg); */
    background-color: rgb(36, 36, 36);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 98;
    opacity: 0.85;
    transition: 0.7s;
}
.rain{
    height: 100vh;
    background-image: url(/images/rain.png);
    animation: rain 0.3s linear infinite;
}
@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
}
.rain::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/lightining.png);
    top: -100px;
    transform: rotate(180deg);
    animation: lightining 4s linear infinite;
    opacity: 1;
}
@keyframes lightining{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
