<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/stylesheets/biggame.css" rel="stylesheet">

</head>
<body>
    <header>
        <div id="logo">
            <img class="nut" src="/images/logo.png" alt="">
            
            <span class="hello"><a style="text-decoration: none; color: rgb(255, 255, 255); font-size: 20px;" href="/"> Tích Cực Quay Tay <br> Vận May Sẽ Đến</a></span>
        </div>
        <div class="menu">
            <ul>
                <li>Xin chào 
                <% if(user) { %>
                    <b style="color: rgb(247, 247, 100);"><%= user.name %> </b>
                <% } %> 
                </li>
                <li>Bạn đang có : 
                    <% if(user) { %>
                        <b style="color: rgb(247, 247, 100);"><%= user.money %> </b>
                    <% } %> 
                    $

                </li>
                <li>
                        Chuyển qua: 
                        <a href="../game"><b style="color: rgb(247, 247, 100);"> Chơi Nhỏ</b></a>

                </li>
            </ul>
        </div>
    </header>
    <form action="/game/biggame" method="POST">
        <div class="content">
                    <h3 style="margin-bottom: 50px; text-align: center;" >Bạn Đang Chơi Lớn </h3>
                
                    <p class="text1">
                        Chọn 1 con số may mắn (trong khoảng từ 0 tới 99):
                        <input class="input" type="number" name="soCuoc" min="0" max="99" required autofocus>
                    </p>
                    <p class="text1">
                        Nhập số tiền bạn muốn đặt cược:
                        <input class="input" type="number" name="tienCuoc" min="1" 
                        max= <%= user.money %> required autofocus>
                    </p>
                    
                <!-- <button type="submit">Gửi</button> -->
                <!-- <input type="submit"> -->
        </div>

        <div id="mainbox" class="mainbox">
            
            <div id="box" class="box">
               
                <div class="box1">
                    <span class="span1"></span>
                    <span class="span2"></span>
                    <span class="span3"></span>
                    <span class="span4"></span>
                </div>
                <div class="box2">
                    <span class="span1"></span>
                    <span class="span2"></span>
                    <span class="span3"></span>
                    <span class="span4"></span>
                </div>
            </div>
            <button class="spin" type="submit" onclick="myfunction()">Quay</button>
        </div>
    </form>

    <div class="box3" >
        <div class="content1">
            <h1 class="head">Tích Cực Quay Tay <br> Vận May Sẽ Đến </h1>
            <h3> Giới Thiệu</h3>
            <p>Được phát triển dựa trên 1 trò chơi dân gian của ông cha ta được gọi tên là <b>Soi Cầu</b></p>
            <p>Đây là tựa game bạn có thể kiếm tiền bằng cách thử độ may mắn của mình </p>
            <p>Khi tạo tài khoản, bạn được tặng ngay <b>10 000$</b> </p>
            <h3>Luật chơi</h3>
            <h4> Có 2 kiểu chơi để bạn tham gia như sau:</h4>
            <p><b>Chơi lớn: </b> Bạn đặt cược 1 con số từ 0 đến 99, sau đó nhập số tiền bạn muốn cược <br> ( không được lớn hơn số tiền bạn có) sau đó nhấn nút quay. <br> Nếu con số may mắn quay ra đúng với con số bạn cược, bạn sẽ nhận được x70 lần số tiền cược</p>
            <p><b>Chơi nhỏ: </b> Bạn đặt cược 1 con số từ 1 đến 5, sau đó nhập số tiền bạn muốn cược <br> ( không được lớn hơn số tiền bạn có) sau đó nhấn nút quay. <br> Nếu con số may mắn quay ra đúng với con số bạn cược, bạn sẽ nhận được x3 lần số tiền cược</p>
            <h3>Cách nạp tiền</h3>
            <p>Khi hết tiền, bạn có thể nạp tiền bằng cách chuyển khoản vào số tài khoản: <b>3406200009532</b> <br> với quy đổi <b>1$ = 25 000vnđ</b></p>
            <h3>Cách rút tiền</h3>
            <p>Khi bạn muốn rửa tay gác kiếm, quay đầu là bờ, thì bạn có thể rút tiền từ tài khoản <br>bằng cách liên hệ với mình qua phần <b>Contact</b>  với quy đổi <b>1$ = 10 000vnđ</b> </p>
            <p><b>Lưu ý: </b>Bạn có thể rút tiền khi tài khoản lớn hơn <b>100 000 $</b> </p>
            <p><a style="text-decoration: none; color: rgb(255, 214, 102); font-size: 20px;" href="/">Quay lại trang chủ</a> </p>
        </div>
        
    </div>
<script>
    function myfunction(){
        var x = 1024;
        var y = 9999;

        var deg = Math.floor(Math.random() * (x-y)) + y;

        document.getElementById('box').style.transform = "rotate(" + deg + "deg)";

        var element = document.getElementById('mainbox');
        element.classList.remove('animate');
        setTimeout(function(){
            element.classList.add('animate');
        }, 5000);
    }
    document.addEventListener('DOMContentLoaded',function(){
    
        var nut = document.querySelector('.nut'),
            box3 = document.querySelector('.box3');

        // khi click vao nut 
        nut.onclick = function(){
            box3.classList.toggle('about');

        }
    }, false)

</script>

</body>
</html>