<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng Xếp Hạng</title>
</head>
<body>
    <table style="border: 1px solid gray;">
        <tr>
            <th colspan="3">Bảng Xếp Hạng</th>
        </tr>
        <% user.forEach(user => { %>  
        <tr>
            <td><%= i++ %> </td>
            <td><%= user.name %> </td>
            <td><%= user.money %>$</td>
            
        </tr>
        <%  }); %>
         
       
        
    </table>
</body>
</html>
