<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
        <%= title %> 
    </title>
    <link href="/stylesheets/contact.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  
  </head>
  <body>

    <div class="card middle">
      <div class="front">
        <img src="/images/magic_card.jpg" alt="">
      </div>
      <div class="back">
        <div class="back-content middle">
          <div class="anh">
            <img src="/images/avt.jpg" alt="">
          </div>
          <h2 style="margin-bottom: 15px;">nddmanh</h2>

          <h3 style="font-size: 14px;">"Em cần gì phải tô son lên đôi môi? <br> Vì đi cùng anh, nó cũng sẽ trôi thôi." <br> ╮(. ❛ ᴗ ❛.)╭</h3>
          
          <div class="sm">
            <a href="https://www.facebook.com/nddmanh/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/ndd.manh/"><i class="fab fa-instagram"></i></a>
          </div>
          <p style="margin-bottom: 30px;">Contact with me!!</p>
          <a href="/"> <button style="cursor: pointer;">HOME</button></a>
        </div>
        
        
      </div>
    </div>

  </body>
</html>
